<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-6 mt-3">
            <h1>Welcome to Horizons!</h1>
            <h4>Log In in your Account</h4>
            <hr>

            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Email</label>
                    <input type="email" class="form-control" id="emailInput" name="email">
                </div>

                <div class="mb-3">
                    <label for="pwdInput" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pwdInput" name="plainPassword">
                </div>

                {{#if errorMessage}}
                <div id="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Enter</button>
                </div>
                <hr>
                <p>¿Don't have an Account?</p>
                <div class="d-grid gap-2">
                    <a href="/signup" class="btn btn-secondary">Sign Up</a>
                </div>


            </form>

        </div>
    </div>
</div>