<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-6 mt-3">
            <h1>Join Horizons!</h1>
            <h4>Create an Account</h4>
            <hr>

            <form action="/signup" method="POST">
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Email</label>
                    <input type="email" class="form-control" id="emailInput" name="email">
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="pwdInput" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pwdInput" name="plainPassword">
                </div>

                {{#if errorMessage}}
                <div id="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}


                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Enter</button>
                </div>
            </form>
        </div>
    </div>
</div>