body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#errorMessage {
  background-color: rgb(255, 202, 202);
  margin-top: 10px;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  text-align: center;
  animation: showFromBottom 6s forwards;
}

.card {
  background-color: #f6efe2;
}

.eventImg {
  resize: 10
}

.card-img-top {
  border-radius: 50%;
}

.btn-primary {
  --bs-btn-bg: #b8d8a4;
  --bs-btn-border-color: #b8d8a4;
  --bs-btn-hover-bg: #a6c294;
  --bs-btn-hover-border-color: #93ad83;
  --bs-btn-active-bg: #93ad83;
  --bs-btn-active-border-color: #819773;
  --bs-btn-disabled-bg: #b8d8a4;
  --bs-btn-disabled-border-color: #b8d8a4;
}