.img {
  width: 100%;
}

@font-face {
  font-family: "FinkHeavy";
  src: url("./../fonts/FinkHeavy.woff2") format("woff2"),
    url("./../fonts/FinkHeavy.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/background.jpeg");
  background-size: 50%;
  background-repeat: repeat;
  height: 100vh;
    width: 100vw;
}

.navbar {
  background-color: #41797c;
}

.marta {
  text-shadow: 2px 7px 5px rgba(16, 6, 81, 0.3),
      0px -4px 10px rgba(21, 17, 105, 0.4);
}

.navbar a {
  color: white
}

.drop {
  background-color: #41797c;
  border: none;
  cursor: pointer;
}

h1 {
  font-family: FinkHeavy;
  color: 15px;
}

.h5cards {
  font-family: FinkHeavy;
  color: #a49676;
}

#errorMessage {
  background-color: rgb(255, 202, 202);
  margin-top: 5px;
  margin-bottom: 5px;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  text-align: center;
  animation: showFromBottom 6s forwards;
}

.card {
  background-color: #f6efe2;
}

.eventImg {
  resize: 10
}

.user-img {
  border-radius: 50%;
  object-fit: cover;
  height: 140px;
  width: 140px;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
  height: 100%;
}

.btn-primary {
  --bs-btn-bg: #b8d8a4;
  --bs-btn-border-color: #b8d8a4;
  --bs-btn-hover-bg: #a6c294;
  --bs-btn-hover-border-color: #93ad83;
  --bs-btn-active-bg: #93ad83;
  --bs-btn-active-border-color: #819773;
  --bs-btn-disabled-bg: #b8d8a4;
  --bs-btn-disabled-border-color: #b8d8a4;
}

.villager {
  size: 10%;
}

.btn-search {
  --bs-btn-bg: #b8d8a4;
  --bs-btn-border-color: #b8d8a4;
  --bs-btn-hover-bg: #a6c294;
  --bs-btn-hover-border-color: #93ad83;
  --bs-btn-active-bg: #93ad83;
  --bs-btn-active-border-color: #819773;
  --bs-btn-hover-color: white;
  --bs-btn-color: #3e443a;
  --bs-btn-disabled-bg: #b8d8a4;
  --bs-btn-disabled-border-color: #b8d8a4;
}

.link-success {
  --bs-link-color: #3e443a
}

.villager-image {
  height: 50%;
  padding: 1em;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* 
.horizons {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
  display: flex;
  align-content: center;
 /*  font-family: 'Gorditas'; }*/



.horizons img {}

/* .horizons h1 {
  position: absolute;
  color: white;
  letter-spacing: -2px;
  transition: 600ms ease;
    font-variation-settings: "wght" 311;
text-transform: uppercase;
text-align: center;
width: 100vh;
}

.horizons h1:hover {
      font-variation-settings: "wght" 582;
      letter-spacing: 1px;
    }
 */

#navbarContent {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.fossils:hover {
  transition: 0.2s ease-out;
  box-shadow: 0 0 11px #41797c;
}

.artwork:hover {
  transition: 0.2s ease-out;
  box-shadow: 0 0 11px #41797c;
}

.fish:hover {
  transition: 0.2s ease-out;
  box-shadow: 0 0 11px #41797c;
}

.bugs:hover {
  transition: 0.2s ease-out;
  box-shadow: 0 0 11px #41797c;
}

.villager:hover {
  transition: 0.2s ease-out;
  box-shadow: 0 0 11px #41797c;
}

.user:hover {
  transition: 0.2s ease-out;
  box-shadow: 0 0 11px #41797c;
}

.user-image {
  height: auto;
  width: 100%;
}

.seemore {
  color: #3e443a;
  background-color: #b8d8a4;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  transition: transform .8s;
}

.seemore:hover {
  color: white;
background-color: #41797c;
  transition: 0.2s ease-out;
  transform: scale(0.95)
}

.events {
  height: 24rem;
}

.events:hover {
  transition: 0.2s ease-out;
  box-shadow: 0 0 11px #41797c;
}

.delete {
  background-color: #3e443a;
}

.join {
  background-color: #b8d8a4;
    color: #262d21;
    transition: transform .8s;
}

.join:hover {
background-color: #41797c;
  color: white ;
    transform: scale(1.1)
}

.unj {
  background-color: #e9b16c;
  color: #262d21;
  transition: transform .8s;
}
.unj:hover {
  background-color:#41797c;
  color: white;
    transform: scale(1.1)
}

.index {
  color: white;
  background-color: #41797c;
}

.index:hover {
  color: white;
  background-color: #3e443a;
}

.title {
  text-shadow: 2px 7px 5px rgba(95, 95, 95, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
  transition: transform .8s;
}

.title:hover {
  transform: scale(1.2)
}

.still {
  text-align: center;
  margin-bottom: 15px;
}

.eventimage {
  box-shadow: 2px 7px 5px rgba(6, 6, 6, 0.3),
      0px 5px 10px rgba(255, 255, 255, 0.3);
}
.top {
  text-transform: uppercase;
  color:#3e443a;
  text-shadow: 2px 7px 5px rgba(95, 95, 95, 0.3),
      0px -4px 10px rgba(255, 255, 255, 0.3);
}

.cardevent {
 display: flex;
 align-items: baseline;
padding: 40px;
background-image: url('https: //img.freepik.com/fotos-premium/fondo-papel-blanco-arte_35956-2379.jpg?w=2000');

}
.linkuser {
  color:#549396;
}
.linkuser:hover {
  color:#282772;
}


background-size: 50%;
background-repeat: repeat;