<div class="container">
    <h1 class="text-center">Community</h1>
    <form action="/community/search" method="GET">
        <div class="container d-grid">
            <input type="text" id='search-box' name="username" class="form-control mt-3 mb-2"
                placeholder="Search friend">
            <button type="submit" class="btn btn-outline-dark mb-2">Search</button>
        </div>
    </form>
    <div class="row justify-content-center gap-3">
        {{#each usersArr}}
        <div class="card" style="width: 10rem;">
            <div class="col">
                <div class="col">
                    <img class="card-img-top user-img" src="{{profileImg}}" alt="profile image">
                </div>
                <div class="col">
                    <h5 class="card-title">{{name}} {{lastName}}</h5>
                    <a href="/profile/{{_id}}" class="btn btn-primary">INFO</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>