<div class="container">
    <h1 class="text-center">Community</h1>
    <hr>
    <div class="row justify-content-center gap-3">
        {{#each usersArr}}
        <div class="card" style="width: 10rem;">
            <div class="col">
                <div class="col">
                    <img class="card-img-top" src="{{profileImg}}" alt="profile image">
                </div>
                <div class="col">
                    <h5 class="card-title">{{name}} {{lastName}}</h5>
                    <a href="/profile/{{_id}}" class="btn btn-primary">INFO</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>