<div class="container">
    <h1>Community</h1>
    <hr>
    {{#each usersArr}}
    <div class="row">
        <div class="card" style="width: 10rem;">
            <div class="col">
                <div class="col">
                    <img class="card-img-top" src="{{profileImg}}" alt="profile image">
                </div>
                <div class="col">
                    <h5 class="card-title">{{name}} {{lastName}}</h5>
                    <a href="/profile/{{_id}}" class="btn btn-primary">INFO</a>
                </div>
            </div>
        </div>
        <hr>
    </div>
    {{/each}}
</div>