{{!-- IMAGEN Y TITULO --}}
<section style='height: 95vh; background-image: url("https://cdn.mos.cms.futurecdn.net/qWCCuEFjdYfdrVvE8d5dHV.jpg"); background-repeat: no-repeat; background-size: cover'>
        <div class="marta d-flex align-items-center justify-content-center text-center h-100" >
            <div class="text">
                <h1 class="mb-3">Welcome to Horizons!</h1>
                <h5 class="mb-4">Join the world's Animal Crossing social media</h5>
            </div>

        </div>
</section>
<hr class="my-5" />
<div class="container">
{{!-- NOOKIPEDIA --}}
<section class="text-center mt-0">
    <h3 class="mb-3">Search everything you want in our</h3>
    <h2 class="title mb-5"><strong>Nookipedia</strong></h2>

    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://www.sopitas.com/wp-content/uploads/2021/10/esto-debes-hacer-antes-pasar-animal-crossing-nintendo-switch-oled.png?w=1120" class="img-fluid" />
                </div>
                <div class="card-body">
                    <h5 class="title card-title"><strong>Villagers</strong></h5>
                    <h6>Search for any villager you want</h6>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://assets.reedpopcdn.com/animal_crossing_deep_sea_creatures_5.jpg/BROK/resize/1200x1200%3E/format/jpg/quality/70/animal_crossing_deep_sea_creatures_5.jpg" class="img-fluid" />
                </div>
                <div class="card-body">
                    <h5 class="title card-title"><strong>Creatures</strong></h5>
   <h6>Explore all the creatures in the island</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://twinfinite.net/wp-content/uploads/2020/03/Animal-Crossing-New-Horizons-Boy-Digging-Up-Fossil.jpg" class="img-fluid" />
                </div>
                <div class="card-body">
                    <h5 class="title card-title"><strong>Fossils & Artwork</strong></h5>
                    <h6>See all the fossils and artwork you could find </h6>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="my-5" />
{{!-- COMMUNITY --}}
<section>
    <div class="row">
        <div class="col-md-6 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="https://play.nintendo.com/images/AC_Villager.17345b1513ac044897cfc243542899dce541e8dc.9afde10b.png" class="img-fluid" />
            </div>
        </div>

        <div class="col-md-6 gx-5 mb-4">
            <h2 class="title mb-3"><strong>Crossing Horizons</strong></h2>
            <h4 class="strong">
            <strong>Join</strong> the community
            </h4>
            <h4 class="strong">
            <strong>Meet</strong> other players around the world 
            </h4>
            <h4 class="strong">
           <strong>Visit</strong> their islands
            </h4>
            <div class="container mt-5">
                <div class="col">
                    <div class="row mb-2">
     <a href="/login" class="btn index d-grid">Log In</a>
                    </div>
                    <div class="row mt-5">
                        <h6 class="still">Still don't have an account?</h6>
                        <a href="/signup" class="btn index d-grid">Sign Up</a>
                    </div>
                </div>
            </div>        
            </div>
    </div>
</section>
<hr class="my-5" />

<!-- Footer -->
<footer class="footer text-center">
    <div class="container mb-3">
       <div class="container">          
            <h5>Enjoy our website!</h5>

         <div class="text-center p-3">
         © Created by Jadde Suarez & Marta Salvador - 2022
          </div>

     </div>
</footer>

</div>