<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://cdn.mos.cms.futurecdn.net/G79YngbW86RJ2QtzFfZEu3.jpg" class="d-block w-100" alt="image1">
            <div class="carousel-caption d-none d-md-block">
                <h2><strong>Welcome to Horizons</strong></h2>
                <h4>Join the world's Animal Crossing social media</h4>
            </div>
        </div>
        {{!-- <div class="carousel-item" data-bs-interval="2000">
            <img src="XXXXXX" class="d-block w-100" alt="image2">
            <div class="carousel-caption d-none d-md-block">
                <h2>XXXX</h2>
                <h4>XXXX</h4>
            </div>
        </div> --}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>