<div class="container horizons d-grid">
    <h3>Welcome to Horizons</h3>
    <img src="https://images.alphacoders.com/112/thumb-1920-1128605.jpg" alt="background image">
</div>
<div class="container">
    <row>
        <col>
        <h3>Nookipedia</h3>
        </col>
        <col>
        <h3>Join Events</h3>
        </col>
        <col>
        <h3>Search your friends</h3>
        </col>
    </row>
</div>