<h1 class="titlepage text-center mt-4">Nookipedia</h1>
<h3 class="titlepage text-center mb-4">Artwork</h3>

<div class="row justify-content-center flex-wrap gap-3">
    {{#each artwork}}
    <div class="artwork card" style="width: 10rem;">
        <img src="{{image_url}}" class="card-img-top" alt="villager icon">
        <div class="card-body">
            <h5 class="card-title h5cards">{{name}}</h5>
            <p class="card-text"><small class="text-muted">{{author}}</small></p>
        </div>
    </div>
    {{/each}}

</div>