<h1 class="text-center mt-3">Nookipedia</h1>
<h3 class="text-center mb-4">Bugs</h3>

<div class="row justify-content-center flex-wrap gap-3">
    {{#each bugs}}
    <div class="bugs card" style="width: 10rem;">
        <img src="{{image_url}}" class="card-img-top" alt="villager icon">
        <div class="card-body">
            <h5 class="card-title h5cards">{{name}}</h5>
            <p class="card-text"><small class="text-muted">{{location}}</small></p>
        </div>
    </div>
    {{/each}}

</div>