<h1 class="text-center mt-4">Nookipedia</h1>
<h3 class="text-center mb-4">Fish</h3>

<div class="row justify-content-center flex-wrap gap-3">
    {{#each fish}}
    <div class="fish card" style="width: 10rem;">
        <img src="{{image_url}}" class="card-img-top" alt="villager icon">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{location}}</p>
        </div>
    </div>
    {{/each}}

</div>