<div class="container mt-5">


    <h3>Villager Name: {{name}}</h3>
    <p>Personality: {{personality}}</p>
    <p>Specie: {{species}}</p>
    <p>Gender: {{gender}}</p>
    <hr>

    <a href="XXXX" class="btn btn-primary">Add to island</a>
    <a href="XXXX" class="btn btn-primary">FAV</a>

</div>